body {
    max-width: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

label {
    line-height: 30px;
}
input {
    text-align: center;
}

#mainContainer {
    margin: auto;
    width: 90%;
    margin-top: 20px;
    background-color: yellow;
}

#submitBtn {
    margin: 10px 0px 5px 0px;
}

.mainHead {
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 30px 0px 30px 0px;
    background-color: blue;
}

.buttonContainer {
    margin: auto;
    width: 80%;

}

.themeBtns {
    margin: 5px 2px 5px 2px;
    padding:  10px 15px 10px 15px;
}

.formContainer {
    margin: auto;
    text-align: center;
    padding: 10px 0px 10px 0px;
    background-color: red;
}
.gifContainer {
    background-color: green;
}